* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    
    color: #6F4E37;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.text {
    color: black;
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
        
    }
}

/**Para navar**/

.inicio {
    color: #5D4037;   
}

@media (min-width: 768px) {
    nav {
        flex-flow: row;
        justify-content: space-between;

    }
}

nav {
    width: 50%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    color: #5D4037;
    ;
}
/*Generales*/
.secciones {
    
    padding-bottom: 5px;
    text-align: center;
}

.botones {
    background-color: #88B04B;
    border: 0;
    border-radius: 15px;
    padding: 3px;
    width: 100%;
    
}

.botones:hover {    
    padding: 5px;
    cursor: pointer;
}

.botones:active {
    background-color: red;
}
img {
    border-radius: 15px;
}

video {
    border-radius: 15px;
}
/*Servicos*/

.tipo-de-mascotas {
width: auto;
height: 150px;
background-color: black;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
}

.solo-fondo {
width: 220px;
height: 120px;
background-color: red;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
}

.seleccion {
width: 160px;
height: 100px;
border-radius: 15px;
background-color: aqua;
display: flex;
justify-content: space-around;
align-items: center;
}

.servicios {
border: 3px solid red;
border-radius: 15px;
display: flex;
flex-flow: column;
align-items: center;
margin: 7px;
background-color: white;
width: 250px;
padding: 5px;
align-content: flex-end;
margin-top: auto;
width: 300px;
flex-grow: 1;

}

.todosservicios {
    display: flex;

    justify-content: space-around;
    align-content: center;
    
}


/*Contacto*/

.consultorio, .todas-laspreguntas {
    background-color: aqua;
    border-radius: 15px ;
    text-align: center;
    
}

.todas-laspreguntas {
    cursor: pointer;
}

img {
    width: 140px;
    height: 200px;
}

p {
    text-align: center;
}

textarea {
    resize: none;
    field-sizing:content;
    width: 200px;
}

/*seccion de productos*/

.seccion-para-animales {
    display: grid;
    grid-template-columns: repeat(1,1f);
    grid-template-rows: repeat(3,1f);
    grid-template-areas: "juguetes"
                        "alimentos"
                        "accesorios";
    margin: 0 auto; 
    
}

.todo {
    display: grid;
    grid-template-columns: repeat(1,1f);
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: "navbar"
                        "main"
                        "footer";
    
    margin: 0 auto; 
}

header {
    grid-area: navbar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.juguetes {
    grid-area: juguetes;
}

.alimentos {
    grid-area: alimentos;
}

.accesorios {
    grid-area: accesorios;
}

.juguetes, .alimentos, .accesorios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.productos {
    display: flex;
}

.presentacion-de-productos {
    text-align: center;
    margin-bottom: 10px; /* Da un pequeño espacio debajo del texto */
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nabvar nabvar"
                        "enlaces foto";
    
                        width: 100%;
                        height: 100vh;
}

.header {
    grid-area: nabvar;
    display: flex;
    flex-flow: row;
    justify-content: end;
    width: 100%;
    
}

.tipos-producto {
    grid-area: enlaces;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: end;
    align-items: center;
    gap: 8px;
    
}

.foto-base {
    grid-area: foto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea; 
    overflow: hidden; /* Evita que la imagen salga del área asignada */
}

.nav-inicio {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.nav-inicio button {
    padding: 10px 20px;
    margin-right: 15px;
    background-color: black;
    border-radius: 10px;
    margin-top: 1px;
    cursor: pointer;
}

.tipos-producto a {
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.imagen-unica {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    object-position: center; /* Centra la imagen dentro de su contenedor */
}
.enlace-inicio {
    color: aliceblue;
    background-color: black;
}