* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: hidden;
}

h1 {
    animation: movimiento 2s ease-in-out infinite alternate;
    text-align: center;
}

@keyframes movimiento{
    0% {transform: translateX(0px);}
    50% {transform: translateX(-200px);}
    100% { transform: translateX(200px);}

}

footer {
    background-color: black;
    color: white;
    border-radius: 10px;
}
