
body {
    @include body
}

.text {
    color: map-get($colors, negro );
    max-width: 800px; 
    padding: 0 20px; 
    margin: 0 auto; 
    padding-right: 35px;
    padding-left: 35px;
}

.inicio {
    color: map-get($colors, marron );
}

.carousel {
    max-width: 400px; 
    width: 90%; 
}

iframe {
    padding-bottom: 10px;
    width: 60%; 
    height: 350px; 
    border: none; 
}