.consultorio, .todas-laspreguntas {
    background-color: aqua;
    border-radius: 15px;
    text-align: center;
    
    
}

.informacion-footer {
font-size: 25px;
color: saddlebrown;
}
input, select, textarea {
    background-color: gray;
    color: white;
    border-top-right-radius: 15px;
}
.todas-laspreguntas {
        cursor: pointer;
    }

img {
    width: 140px;
    height: 200px;
}

p {
    text-align: center;
}

textarea {
    resize: none;
    field-sizing: content;
    width: 200px;
}

.text {
    padding-right: 35px;
    padding-left: 35px;
}